<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>YOUR PROJECT TITLE</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>Sample Template for a Form</h1>
    <form action="/formresult" method="post">
      <label for="htmlInput1">An input to use in the form result:</label>
      <input id="htmlInput1" name="htmlInput1" type="text">
      <br>

      <label for="htmlInput2">Another input to use in the form result:</label>
      <input id="htmlInput2" name="htmlInput2" type="text">
      <br>

      <button type="submit">Go!</button>
    </form>
  </body>
</html>